<!DOCTYPE html>
<html  ng-app="reportApp" >
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vindhya eInfomedia</title>
    <!-- jQuery -->
    <script src="../../resources/assets/lib/jquery.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="../../resources/assets/lib/bootstrap.min.js"></script>
    <script src="../../resources/assets/lib/angular.js"></script>
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
    <script src="../../resources/assets/lib/ui-bootstrap-tpls.js"></script>
    <script src="../../resources/assets/js//reportModule.js"></script>
    <script src="../../resources/assets/js//ReportService.js"></script>
    <script src="../../resources/assets/js//AdminController.js"></script>
    <script src="../../resources/assets/js/Directives.js"></script>

    <link href="../../resources/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../resources/assets/css/Common.css" rel="stylesheet" />
    <link href="../../resources/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../resources/assets/css/1-col-portfolio.css" rel="stylesheet" />


</head>
<body ng-controller="AdminController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand pull-left active" style="color: #fff;margin-left: -110px !important;" >Vindhya eInfomedia</a>

        <!-- I don't want it apart of the collapsible portion -->
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav">
                <li class="active" style="color:#fff"> <a href="">Hi, Username</a> </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="active"><a href="j_spring_security_logout">Logout</a> </li>
            </ul>

        </div>

    </div>
</nav>
<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#Users"  role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> Users
        </a>
    </li>
    <li><a href="#Branches" role="tab" ng-click="IsAllDocuments=false;getMydocuments()" data-toggle="tab">
        <i class="fa fa-home"></i> Branch
    </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade active in" id="Users">

    </div>
</div>

<div class="tab-content">
    <div class="tab-pane fade active in" id="Branches">

    </div>
</div>
</body>