<!DOCTYPE html>
<html  ng-app="reportApp" >
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vindhya eInfomedia</title>
    <!-- jQuery -->
    <script src="../../resources/assets/lib/jquery.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="../../resources/assets/lib/bootstrap.min.js"></script>
    <script src="../../resources/assets/lib/angular.js"></script>
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
    <script src="../../resources/assets/lib/ui-bootstrap-tpls.js"></script>
    <script src="../../resources/assets/js//reportModule.js"></script>
    <script src="../../resources/assets/js//ReportService.js"></script>
    <script src="../../resources/assets/js//AdminController.js"></script>
    <script src="../../resources/assets/js/Directives.js"></script>

    <link href="../../resources/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../resources/assets/css/Common.css" rel="stylesheet" />
    <link href="../../resources/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../resources/assets/css/1-col-portfolio.css" rel="stylesheet" />


</head>
<body ng-controller="AdminController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand pull-left active" style="color: #fff;margin-left: -110px !important;" >Vindhya eInfomedia</a>

        <!-- I don't want it apart of the collapsible portion -->
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav">
                <li class="active" style="color:#fff"> <a href="">Hi, Username</a> </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="active"><a href="j_spring_security_logout">Logout</a> </li>
            </ul>

        </div>

    </div>
</nav>
<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#Users"  role="tab" data-toggle="tab">
            <i class="fa fa-user"></i> Users
        </a>
    </li>
    <li>
        <a href="#Branches" role="tab" data-toggle="tab">
        <i class="fa fa-home"></i> Branch
    </a>
    </li>
    <li>
        <a href="#Documents" role="tab"  data-toggle="tab">
            <i class="fa fa-file-text"></i> All Documents
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="Users" >
        <form name="UserForm">
            <div class="container" style="text-align: left;margin-left: 0px;">
                <div class="row" >
                    <div class="col-md-2">
                        Role : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control"  ng-model="user.userRole"
                                ng-options="option.roleName as option.roleDescription for option in Roles "
                                required></select>
                    </div>
                </div>
                <div class="row" ng-show="user.userRole=='ROLE_SCANNER'" >
                    <div class="col-md-2">
                        Branch Name : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="user.branchCode" ng-init="user.branchCode = Branches[0]" class="form-control"
                                ng-options="br.branchCode as br.branchName for br in Branches" required>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        User Name : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="user.userName" placeholder="Enter UserName" required />
                    </div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        Password : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="password" class="form-control" ng-model="user.password"   placeholder="Enter Password" required />
                    </div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        Confirm Password : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="password" class="form-control" ng-model="user.confirmPassword"  compare-to="user.password" placeholder="Enter  Confirm Password" required />
                    </div>
                    <div class="col-md-6" ng-show="UserForm.confirmPassword.$error" ng-messages="UserForm.confirmPassword.$error">
                         Passwords do not match</div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" style="width: 100%" ng-click="createUser(user)" ng-disabled="UserForm.$invalid">Create User</button>

                    </div>
                </div>

                <div class="row" style="text-align: center">
                    <div class="col-md-6">
                        <div ng-show="OperationSuccess==true" class="alert alert-success fade-in-out">
                            <a href="#" class="close" ng-click="OperationSuccess=false">&times;</a>
                            <strong>Success! </strong>{{successMsg}}
                        </div>
                        <div ng-show="OperationFailure==true" class="alert alert-danger fade-in-out">
                            <a href="#" class="close" ng-click="OperationFailure=false">&times;</a>
                            <strong>Error!</strong> {{FailureMsg}}
                        </div>
                          <table id="dOTable"  class="table table-bordered table-striped" style="margin-left:10px;">
                        
                        <thead align="center" style="font-size: 12px;">


                        <th>User Name</th>
                        <th>User Role</th>
                        <th>Branch Code</th>
                        <th>Reset Password</th>
<!--                        <th>Edit</th>-->
                        <th>Delete</th>



                        </thead>



                        <tr ng-repeat="user in Users">

                            <td>{{user.username}}</td>
                            <td>{{user.userRole}}</td>
                            <td>{{user.branchCode}}</td>
                            <td><button class="btn btn-primary" title="Reset Password" ng-click="ResetPassword(user);" /><i class="fa fa-cogs"></i> </button></td>
                            <!--<td><button class="btn btn-primary" title="Edit" ng-click="Edit(user);" /><i class="fa fa-pencil-square-o"></i></button></td>-->
                            <td><button class="btn btn-danger" title="Delete"ng-really-message="Are you sure you want to delete the user?" ng-really-click="deleteUser(user);" /><i class="fa fa-trash-o"></i></button></td>

                        </tr>





                    </table>
                        

                    </div>
                    <div class="col-md-6"></div>
                </div>


                <!--   <input type="file" id="btnBrowse" style="display:none" class="btn btn-primary" />-->

            </div>
        </form>



    </div>
    <div class="tab-pane fade" id="Branches">
        <form name="BranchForm">
            <div class="container" style="text-align: left;margin-left: 0px;">
                <div class="row" >
                    <div class="col-md-2">
                        Branch Code : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="branch.branchCode" placeholder="Enter Branch Code" required />
                    </div>
                </div>
                <div class="row"  >
                    <div class="col-md-2">
                        Branch Name : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="branch.branchName" placeholder="Enter Branch Name" required />
                    </div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        Zone : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="branch.zone" placeholder="Enter Zone" required />
                    </div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        Region : <span class="colorRed">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="branch.region"   placeholder="Enter Region" required />
                    </div>
                </div>
                <div class="row" style="padding-top:5px">
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" style="width: 100%" ng-click="createBranch(branch)" ng-disabled="BranchForm.$invalid">Create Branch</button>

                    </div>
                </div>

                <div class="row" style="text-align: center">
                    <div class="col-md-6">
                        <div ng-show="OperationSuccess==true" class="alert alert-success fade-in-out">
                            <a href="#" class="close" ng-click="OperationSuccess=false">&times;</a>
                            <strong>Success! </strong>{{successMsg}}
                        </div>
                        <div ng-show="OperationFailure==true" class="alert alert-danger fade-in-out">
                            <a href="#" class="close" ng-click="OperationFailure=false">&times;</a>
                            <strong>Error!</strong> {{FailureMsg}}
                        </div>
                          <table id="dOTable"  class="table table-bordered table-striped" style="margin-left:10px;">
                        
                        <thead align="center" style="font-size: 12px;">


                        <th>Branch Code</th>
                        <th>Branch Name</th>
                        <th>Zone</th>
                        <th>Region</th>
                        <!--<th>Edit</th>-->
                        <th>Delete</th>



                        </thead>



                        <tr ng-repeat="br in Branches">

                            <td>{{br.branchCode}}</td>
                            <td>{{br.branchName}}</td>
                            <td>{{br.zone}}</td>
                            <td>{{br.region}}</td>
                            <!--<td><button class="btn btn-primary" title="Edit" ng-click="editBranch(br);" /><i class="fa fa-pencil-square-o"></i></button></td>-->
                            <td><button class="btn btn-danger" title="Delete"ng-really-message="Are you sure you want to delete the user?" ng-really-click="deleteBranch(br);" /><i class="fa fa-trash-o"></i>&nbsp;</button></td>

                        </tr>





                    </table>
                        

                    </div>
                    <div class="col-md-6"></div>
                </div>


                <!--   <input type="file" id="btnBrowse" style="display:none" class="btn btn-primary" />-->

            </div>
        </form>

    </div>
    <div class="tab-pane fade" id="Documents">
        <div class="container" style="text-align: left;margin-left: 0px;">
            <div class="row">
                <div class="col-md-12">
        <table id="dOTable"  class="table table-bordered table-striped">
            
            <thead align="center" style="font-size: 12px;">

            <!-- <th>Doc Id</th>-->
            <th>Booklet No</th>
            <th>Application No</th>
            <th>Branch Name</th>
            <th>Place of Meeting</th>
            <th>No of Customers</th>
            <th>Status</th>
            <th>Recieved Time</th>
            <th>Completed Time</th>
            <th>Locked By</th>

            <th>Comments</th>

            </thead>



            <tr ng-repeat="doc in docRecords">
                <!-- <td>{{doc.documentId}}</td>-->
                <td>{{doc.bookletNo}}</td>
                <td>{{doc.applicationNo}}</td>
                <td>{{doc.branchName}}</td>
                <td>{{doc.placeOfMeeting}}</td>
                <td>{{doc.numOfCustomers}}</td>
                <td>{{doc.status}}</td>
                <td>{{doc.recCreatedOn}}</td>
                <td>{{doc.recCompletedOn}}</td>
                <td>{{doc.lockedBy}}</td>
                <td><button class="btn btn-primary" title="View Comments" ng-click="ShowComments(doc);"><i class="fa fa-comments"></i></button></td>
            </tr>





        </table>
                </div>
            </div>
            </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Comments</h3>
    </div>
    <div class="modal-body">

        <div class="container" >
            <div class="row" style="padding-top:5px">
                <div class="col-md-2" style="padding-left:0px!important">
                    <b>Branch Name :</b>
                </div>

                <div class="col-md-10">
                    {{doc.branchName}}
                </div>
            </div>
            <div class="row" style="padding-top:5px;">
                <div class="col-md-2" style="padding-left:0px!important">

                    <b>Booklet No :</b>
                </div>

                <div class="col-md-10">
                    {{doc.bookletNo}}
                </div>

            </div>
            <div class="row" style="padding-top:5px">
                <div class="col-md-2" style="padding-left:0px!important">

                    <b>Application No :</b>
                </div>

                <div class="col-md-10">
                    {{doc.applicationNo}}
                </div>

            </div>

            <br/>

            <div class="row" ng-if="doc.comments.length>0" ng-repeat="comment in doc.comments">

                <div class="container" >
                    <div class="row" style="border: 1px solid grey ;background-color:#e9eaed;width:505px;padding-top:5px;padding-left:2px" >

                        <p>{{comment.comments}}   <span class="pull-right" style="font-size:6pt">- {{comment.commentedBy}}</span></p>
                    </div>

                </div>
                <br/>


            </div>

            <div class="row colorRed" ng-if="doc.comments.length==0">
                <div class="container" >
                    <div class="row">
                        No Comments to show
                    </div>

                </div>

                <br>
            </div>


            <div class="row" ng-if="doc.ViewOnly!=true">

                <b>Add Comments :</b>


            </div>
            <form name="commentForm">
                <div class="row" ng-if="doc.ViewOnly!=true">

                    <textarea rows="6" cols="75" ng-model="doc.newComment" placeholder="Enter Your Comments Here" required></textarea>


                </div>
            </form>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="commentForm.$invalid" ng-if="doc.ViewOnly!=true" >Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
</script>

</body>