<!DOCTYPE html>
<html  ng-app="reportApp" >
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vindhya eInfomedia</title>

    <script src="../../resources/assets/lib/jquery.js"></script>
    <script type="text/javascript" src="../../resources/assets/lib/angular.js"></script>
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>-->
    <script src="../../resources/assets/lib/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="../../resources/assets/js/reportModule.js"></script>
    <script type="text/javascript" src="../../resources/assets/js/ReportService.js"></script>
    <script type="text/javascript" src="../../resources/assets/js/Directives.js"></script>
    <script type="text/javascript" src="../../resources/assets/js/FileUploadController.js"></script>
    <link href="../../resources/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../resources/assets/lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../resources/assets/js/Common.js"></script>
    <!--<link href="Content/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="../../resources/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../resources/assets/css/1-col-portfolio.css" rel="stylesheet" />
    <link href="../../resources/assets/css/Common.css" rel="stylesheet" />

    <link href="../../resources/assets/css/loading-bar.css" rel="stylesheet" />
    <script src="../../resources/assets/lib/loading-bar.js"></script>

    <script>

        $(document).on('change', '.btn-file', function() {
            var input = $(this);

            var  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            $("#fileName").val(label);

        });
        $(document).on('click', '#btnBrowse', function() {
            $('.btn-file').click();
        });
    </script>
</head>
<body ng-controller="FileUploadController">

<div class=" tab-content tab-pane fade active in HeaderPosition" >
    <div class="row" >
        <div class="col-md-2"><img src="../../resources/assets/Images/Vindhya_Logo1.jpg" width="200px" height="60px" /></div>
        <div class="col-md-10"> <span class="pull-right" style="color: grey !important;margin-top:38px"><span> Hi, {{userName}}</span> &nbsp;| &nbsp; <a  href="j_spring_security_logout">Logout</a> </span> </div>
    </div>

</div>
<!-- Navigation -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand pull-left active" style="color: #fff;margin-left: -110px !important;" >Vindhya eInfomedia</a>

        &lt;!&ndash; I don't want it apart of the collapsible portion &ndash;&gt;
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav">
                <li class="active" style="color:#fff"> <a href="">Hi, {{userName}}</a> </li>
            </ul>
            <ul class="nav navbar-nav">

                <li class="active"> <a href="j_spring_security_logout">Logout</a> </li>
            </ul>

        </div>

    </div>
</nav>-->

<!--   <table id="Table1"  class="table table-bordered table-striped">
       <tr><td><button class="btn btn-primary"><i class="fa fa-list-ul"></i>&nbsp;All Documents</button>&nbsp;&nbsp;<button class="btn btn-primary"><i class="fa fa-filter"></i>&nbsp;My Documents</button></td></tr>

   </table>-->
<form name="uploadForm">
<div class="container" style="padding:10px;margin-left:0px!important">
    <div class="row" >
        <div class="col-md-2">
            Branch Name : <span class="colorRed">*</span>
        </div>
        <div class="col-md-4">
            <select ng-model="doc.branchCode" ng-init="doc.branchCode = Branches[0]" class="form-control"
                    ng-options="b.branchCode as (b.branchCode + ' - ' + b.branchName) for b in Branches" required>
            </select>
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-md-2">
            Booklet Number : <span class="colorRed">*</span>
        </div>
        <div class="col-md-4">
            <input type="number" class="form-control" ng-model="doc.bookletNo" placeholder="Enter Booklet Number" required />
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-md-2">
            Application Number : <span class="colorRed">*</span>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="doc.applicationNo" placeholder="Enter Application Number" required pattern="[a-zA-Z0-9]+" />
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-md-2">
            Place of Meeting : <span class="colorRed">*</span>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="doc.placeOfMeeting" placeholder="Enter Place of Meeting" required />
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-md-2">
            Number of Customers : <span class="colorRed">*</span>
        </div>
        <div class="col-md-4">
            <input type="number" class="form-control" ng-model="doc.numOfCustomers" placeholder="Enter  Number of Customers" required />
        </div>
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-md-2">
            Upload file : <span class="colorRed">*</span>
        </div>
        <div class="col-md-4">

            <input type="text" id="fileName"   class="form-control" placeholder="Browse File"  />
        </div>
        <div class="col-md-6">


            <input type="file" class="btn-file" style="display:none" accept="application/pdf" ng-model="myFile" file-model="myFile" required />&nbsp;
            <button id="btnBrowse" class="btn btn-primary">Browse</button>
            <button class="btn btn-primary" ng-click="uploadFile(doc)" ng-disabled="uploadForm.$invalid">Upload Document</button>
        </div>


        <!--   <input type="file" id="btnBrowse" style="display:none" class="btn btn-primary" />-->

    </div>
</form>
    <div class="row" style="padding-top:5px">
    <div class="col-md-12" style="width: 72%">
    <div ng-show="OperationSuccess==true" class="alert alert-success fade-in-out">
        <a href="#" class="close" ng-click="OperationSuccess=false">&times;</a>
        <strong>Success! </strong>{{successMsg}}
    </div>
    <div ng-show="OperationFailure==true" class="alert alert-danger fade-in-out">
        <a href="#" class="close" ng-click="OperationFailure=false">&times;</a>
        <strong>Error!</strong> {{FailureMsg}}
    </div>
        </div>
        </div>
</div>

<div class="row" style="padding-left:10px !important;padding-top:10px;padding-bottom:3px !important">
    <div class="col-md-12">
        <b>Documents to be Re-Scanned :</b>
    </div>

</div>
<div class="row colorRed" style="text-align: center" ng-show="docRecords.length==0">

            No records currently for Re-scan
</div>


<div class="row">
    <div class="col-md-12">

                  <span style="text-align:center" ng-show="docRecords.length>0">
                       <table id="dOTable"  class="table table-bordered table-striped" style="width:98% !important;margin-left:10px;">
                      
                      <thead align="center" style="font-size: 12px;">


                      <th>Booklet No</th>
                      <th>Application No</th>
                      <th>Branch Code</th>
                      <th>Place of Meeting</th>
                      <th>No of Customers</th>
                      <th>Locked By</th>
                      <th>Select</th>
                      <th>Comments</th>


                      </thead>



                      <tr ng-repeat="doc in docRecords">

                          <td>{{doc.bookletNo}}</td>
                          <td>{{doc.applicationNo}}</td>
                          <td>{{doc.branchCode}}</td>
                          <td>{{doc.placeOfMeeting}}</td>
                          <td>{{doc.numOfCustomers}}</td>
                          <td>{{doc.lockedBy}}</td>
                          <td><button class="btn" ng-really-message="Do u want to Lock the document for processing?" ng-really-click="lockRecord(doc)" ng-disabled="doc.locked==true" title="Select" ng-class="{'btn-danger': doc.locked==true, 'btn-success': doc.locked==false}"><i ng-class="{'fa fa-lock': doc.locked==true, 'fa fa-unlock': doc.locked==false}"></i>&nbsp;<span>{{doc.locked ? 'Locked' : 'Select'}}</span></button></td>
                          <td><button class="btn btn-primary" title="View Comments" ng-click="ShowComments(doc);" ng-disabled="doc.locked==false"><i class="fa fa-comments"></i></button></td>
                      </tr>





                  </table>
                  </span>

    </div>
</div>

</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Comments</h3>
    </div>
    <div class="modal-body">

        <div class="container" >
            <div class="row" style="padding-top:5px">
                <div class="col-md-2" style="padding-left:0px!important">
                    <b>Branch Code :</b>
                </div>

                <div class="col-md-10">
                    {{doc.branchCode}}
                </div>
            </div>
            <div class="row" style="padding-top:5px;">
                <div class="col-md-2" style="padding-left:0px!important">

                    <b>Booklet No :</b>
                </div>

                <div class="col-md-10">
                    {{doc.bookletNo}}
                </div>

            </div>
            <div class="row" style="padding-top:5px">
                <div class="col-md-2" style="padding-left:0px!important">

                    <b>Application No :</b>
                </div>

                <div class="col-md-10">
                    {{doc.applicationNo}}
                </div>

            </div>

            <br/>

            <div class="row" ng-if="doc.comments.length>0" ng-repeat="comment in doc.comments | orderBy: '-recCreatedOn'">

                <div class="container" >
                    <div class="row" style="border: 1px solid grey ;background-color:#e9eaed;width:505px;padding-top:5px;padding-left:2px" >

                        <p>{{comment.comments}}    <span class="pull-right" style="font-size:8pt;vertical-align: top">- {{comment.commentedBy}}</span><br/><span class="pull-right" style="font-size:6pt;"> {{comment.recCreatedOn}}</span></p>
                    </div>

                </div>
                <br/>


            </div>


            <div class="row colorRed" ng-if="doc.comments.length==0">
                <div class="container" >
                    <div class="row">
                        No Comments to show
                    </div>

                </div>

                <br>
            </div>


            <div class="row" ng-if="doc.ViewOnly!=true">

                <b>Add Comments :</b>


            </div>
            <form name="commentForm">
            <div class="row" ng-if="doc.ViewOnly!=true">

                <textarea rows="6" cols="75" ng-model="doc.newComment" placeholder="Enter Your Comments Here" required></textarea>


            </div>
            </form>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="commentForm.$invalid" ng-if="doc.ViewOnly!=true" >Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
</script>




<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <p>Copyright &copy; Vindhya eInfomedia 2015</p>
        </div>
    </div>
    <!-- /.row -->
</footer>



<!-- /.container -->

<!-- jQuery -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->


<!-- Bootstrap Core JavaScript -->
<!-- <script src="Scripts/bootstrap.min.js"></script>-->


</body>
</html>
